# compiled files
*.pyc

# do not upload these lmao
*.env

# notebooks. I prefer to force add them if I want them in my repo
*.ipynb

# Mac OS junk lol
*.DS* 

# setup files
*.egg*

# project specific
tmp/